<% provide(:title, "Reset Password") %>

<div class="container">

  <div class="form-signin">
    <h2 class="form-signin-heading">Reset Password</h2>
      <%= form_tag password_resets_path,:id => "password_reset-form", :method => :post do %>
      <%= email_field_tag :email, params[:email], :placeholder => "Email", :class => "form-control", :id => "email" %>
      <%= submit_tag "Reset your password", class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
  </div>
</div> <!-- /container -->
